*{
    padding:0;
    margin:0;
}
body{
    background:#eee;
}
.nav-container{
    background:#FF4949;
}
#navbar{
    /*background-color:#FF4949;*/
    width:1200px;
    margin:0 auto;
    text-align:center;
}
#logo{
    width:100%;
    line-height:68px;
    padding:15px 0;
}
#head{
    position:relative;
    top:6px;
    border-radius:14px;
}
#navbar .el-menu--horizontal{
    border-bottom: none;
}
#navbar .el-menu{
    border-right: none;
    background-color:#FF4949;
    height:80px;
    line-height:80px;
}
#navbar .el-menu .el-menu-item{
    height:80px;
    line-height:80px;
    color:#fff;
}
.box{
    padding:30px 50px 30px 30px;
}

